@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap);
:root {
    --color-primary: #0f324e;
    --color-secondary: #3e3e3e;
    --color-background: #f2f2f2;
    --color-white: #fff
}

body,
html {
    overflow-x: hidden !important
}

.nav-main-container {
    background-color: #0f324e !important
}

.nav-main-container li {
    color: var(--color-text) !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    transition: .5s
}

.nav-main-container li:active,
.nav-main-container li:focus {
    font-weight: 600 !important;
    transition: .5s
}

.nav-main-container li a:after {
    background: var(--color-primary);
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto;
    transition: .5s;
    width: 0
}

.nav-main-container li a:focus:after,
.nav-main-container li a:hover:after {
    width: 100%
}

a.navbar-brand.py-3 {
    background: #fff;
    margin: 4px 0;
    padding: 25px
}

nav.shift ul li a {
    position: relative;
    z-index: 1
}

nav.shift ul li a:hover {
    color: #91640f
}

nav.shift ul li a:after {
    background: #f1c40f;
    bottom: 0;
    color: #0000;
    content: ".";
    display: block;
    height: 1px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: none;
    width: 100%;
    z-index: -1
}

nav.shift ul li a:hover:after {
    height: 100%;
    opacity: 1;
    visibility: visible
}

.hero-text {
    background-color: #0000006b
}

.service-btn {
    background-color: initial;
    border: 2px solid var(--color-white);
    border-radius: 2px;
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
    padding: .5rem 1rem;
    transition: all .3s ease-in-out
}

.enquire-btn,
.service-btn:hover {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-background)
}

.enquire-btn {
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
    padding: .6rem 2.1rem;
    transition: all .3s ease-in-out
}

.enquire-btn:hover {
    background-color: var(--color-background);
    border: 2px solid var(--color-background);
    color: var(--color-primary)
}

@media (max-width:768px) {
    .hero-image,
    .hero-text {
        height: 60vh
    }
    .hero-title {
        font-size: 2rem
    }
    .hero-subtitle {
        font-size: 1.4rem
    }
    .enquire-btn,
    .hero-description,
    .service-btn {
        font-size: 1rem
    }
}

.slick-slider {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-select: none
}

.slick-list,
.slick-slider {
    display: block;
    position: relative
}

.slick-list {
    margin: 0;
    overflow: hidden;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translateZ(0)
}

.slick-track {
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0
}

.slick-track:after,
.slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    border: 1px solid #0000;
    display: block;
    height: auto
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-loading .slick-list {
    background: #fff;
}

.slick-next,
.slick-prev {
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
    background: #0000;
    color: #0000;
    outline: none
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75
}

.slick-prev {
    left: -25px
}

[dir=rtl] .slick-prev {
    left: auto;
    right: -25px
}

.slick-prev:before {
    content: "←"
}

[dir=rtl] .slick-prev:before {
    content: "→"
}

.slick-next {
    right: -25px
}

[dir=rtl] .slick-next {
    left: -25px;
    right: auto
}

.slick-next:before {
    content: "→"
}

[dir=rtl] .slick-next:before {
    content: "←"
}

.slick-dotted.slick-slider {
    margin-bottom: 30px
}

.slick-dots {
    bottom: -25px;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    position: relative
}

.slick-dots li,
.slick-dots li button {
    cursor: pointer;
    height: 20px;
    width: 20px
}

.slick-dots li button {
    background: #0000;
    border: 0;
    color: #0000;
    display: block;
    font-size: 0;
    line-height: 0;
    outline: none;
    padding: 5px
}

.slick-dots li button:focus,
.slick-dots li button:hover {
    outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
    opacity: 1
}

.slick-dots li button:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    content: "•";
    font-family: slick;
    font-size: 6px;
    height: 20px;
    left: 0;
    line-height: 20px;
    opacity: .25;
    position: absolute;
    text-align: center;
    top: 0;
    width: 20px
}

.slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75
}

.campus {
    margin: auto;
    padding: 50px 0 0;
    text-align: center;
    width: 100%
}

.campus-col {
    border-radius: 5px;
    flex-basis: 32%;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative
}

.campus-col img {
    display: block;
    width: 100%
}

.layer {
    background: #0000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .5s;
    width: 100%
}

.layer:hover {
    background: #0f324eb3
}

.layer h2 {
    font-size: 2rem;
    font-weight: 500
}

.layer h2,
.layer p {
    bottom: 0;
    color: #fff;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%);
    transition: .5s;
    width: 100%
}

.layer p {
    font-size: 1.4rem
}

.layer button {
    background-color: initial;
    border: 2px solid var(--color-white);
    border-radius: 2px;
    bottom: 0;
    color: var(--color-white);
    font-size: 20px;
    left: 50%;
    opacity: 0;
    padding: .6rem 2rem;
    position: absolute;
    transform: translateX(-50%);
    transition: .5s
}

.layer button:hover {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    color: var(--color-background)
}

.layer:hover h2 {
    bottom: 60%;
    opacity: 1
}

.layer:hover p {
    bottom: 40%;
    opacity: 1
}

.layer:hover button {
    bottom: 20%;
    opacity: 1
}

@media (max-width:768px) {
    .layer h2 {
        font-size: 1.4rem;
        font-weight: 600
    }
    .layer button,
    .layer p {
        font-size: 1rem
    }
    .layer:hover h2 {
        bottom: 65%;
        opacity: 1
    }
    .layer:hover p {
        bottom: 45%;
        opacity: 1
    }
    .layer:hover button {
        bottom: 25%;
        opacity: 1
    }
}

.testimonials {
    background-color: #0f324e;
    border-radius: 10px;
    margin-top: 5%;
    padding-top: 25px;
    text-align: center;
    width: 80%
}

.testimonials-col {
    background: #e1dddd;
    border-radius: 10px;
    color: #0f324e;
    color: var(--color-primary #0f324e);
    cursor: pointer;
    display: flex;
    flex-basis: 44%;
    margin-bottom: 5%;
    min-height: 200px;
    padding: 25px;
    text-align: left
}

.test-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%
}

.testimonials-col img {
    border-radius: 50%;
    height: 60px;
    margin-left: 5px;
    margin-right: 30px
}

.testimonials-col p {
    font-size: 1rem;
    padding: 0;
    text-align: left
}

.testimonials-col h3 {
    font-size: 1.3rem;
    margin-top: 15px;
    text-align: left
}

.star-rating {
    display: flex
}

@media (max-width:700px) {
    .testimonials-col img {
        margin-left: 0;
        margin-right: 15px
    }
    .test-container {
        padding: 0
    }
}

.card-icon {
    width: 90px
}

.card {
    background-color: #0f324e !important;
    border-radius: 10px;
    color: var(--color-white) !important;
    cursor: pointer;
    min-height: 265px;
    transition: all .2s ease-in-out
}

.card:hover {
    background-color: #0f324ee4 !important
}

.main-container h1 {
    margin-top: 5vh
}

.container {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 2vh
}

.accordian,
.image {
    grid-column: span 6
}

.accordian {
    align-content: center;
    box-shadow: 0 2px 4px #0000001a;
    margin-bottom: auto;
    max-width: 100%
}

.item {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden
}

.title {
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: 700;
    padding: 15px
}

.title:hover {
    background-color: #ddd
}

.content {
    color: #fff;
    display: none;
    padding: 15px
}

.active {
    display: block
}

@media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr
    }
    .accordian,
    .image {
        grid-column: span 12
    }
    .content,
    .title {
        padding: 12px
    }
}

.header {
    grid-column: span 12;
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: center
}

.section-background {
    background-color: #0e2a45;
    border-radius: 10px;
    margin-top: 55px
}

.logos {
    background: #fff;
    overflow: hidden;
    padding: 60px 0;
    position: relative;
    white-space: nowrap
}

.logos:after,
.logos:before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 2
}

.logos:before {
    left: 0
}

.logos:after {
    right: 0
}

.logos:hover .logos-slide {
    animation-play-state: paused
}

.logos-slide {
    animation: slide 25s linear infinite;
    display: inline-block;
    white-space: nowrap
}

.logos-slide img {
    box-shadow: 0 0 2px 2px #acbcca;
    height: 100px;
    margin: 0 40px
}

@keyframes slide {
    0% {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

.mapss {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px
}

.stu {
    padding-bottom: 50px;
    text-align: center
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px
}

.faq {
    padding: 100px
}

.cardd {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
    margin: 10px;
    overflow: hidden;
    transition: transform .3s ease-in-out;
    width: 300px
}

.cardd:hover {
    transform: scale(1.05)
}

.im {
    height: auto;
    width: 100%
}

.card-content {
    padding: 20px;
    text-align: justify;
    text-justify: inter-word
}

.stu3 {
    color: #7faffc;
    margin-top: 0;
    text-align: center
}

.stup {
    margin-bottom: 0
}

.header-image-container {
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.header-image {
    height: 100% !important;
    object-fit: cover !important;
    padding: 50px;
    width: 100% !important
}

.information {
    text-align: center
}

.details,
.information {
    display: flex;
    justify-content: center
}

.details {
    flex-wrap: wrap;
    margin-bottom: 50px
}

.details-card {
    background-color: #fff;
    box-shadow: 2px 2px 4px #0000004d;
    margin: 15px;
    width: 900px
}

.card__title {
    font-weight: 700;
    text-align: left
}

.card__title,
.card_text {
    padding-left: 20px
}

.card_text h4 {
    font-weight: 700
}

.details-content {
    padding: 15px
}

.low_p {
    font-size: 14px;
    opacity: .6;
    padding-left: 20px
}

@media (max-width:768px) {
    .header-image-container {
        height: 300px
    }
}

@media (max-width:600px) {
    .card {
        margin: 10px 0;
        width: 100%
    }
}

@media (min-width:601px) and (max-width:900px) {
    .card {
        margin: 1%;
        width: 48%
    }
}

.Register {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

.centered-button {
    font-size: 16px;
    padding: 10px 20px
}

.body {
    background-image: linear-gradient(0deg, #00000080, #00000080);
    background-position: 50%;
    background-size: cover;
    font-family: "Ubuntu, sans-serif";
    margin: 0;
    padding: 50px 0;
    position: relative
}

.enquiryForm {
    background-color: #fff3f3;
    border-radius: 10px;
    box-shadow: 0 0 20px #0000001a;
    margin: 50px auto 50px 30%;
    max-width: 40%;
    padding: 30px;
    z-index: 2
}

.title {
    color: #373737;
    text-align: center
}

.formGroup,
.title {
    margin-bottom: 20px
}

.formLabel {
    color: #000;
    display: block;
    font-weight: 700;
    margin-bottom: 8px
}

.formControl,
.formSelect {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    color: #555;
    padding: 10px;
    width: 100%
}

.formControlFocus,
.formSelectFocus {
    border-color: #373737;
    box-shadow: 0 0 5px #0000008c
}

.btnClose,
.btnSubmit {
    background-color: #3230308c;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    padding: 10px 20px;
    transition: background-color .3s ease, box-shadow .3s ease
}

.btnClose:hover,
.btnSubmit:hover {
    background-color: #212121;
    box-shadow: 0 0 10px #3e3e3e
}

@media screen and (max-width:768px) {
    .enquiryForm {
        margin-left: 90px;
        margin-right: 20px
    }
}

.hero-image {
    object-fit: cover;
    overflow: none;
    position: none
}

.buttonContainer {
    margin-top: 20px;
    text-align: center
}

@media (max-width:768px) {
    .enquiryForm {
        margin-left: 90px;
        margin-right: 20px
    }
}

*,
.details-card {
    box-shadow: none
}

.details-card {
    width: 100%
}

.h-image-container {
    height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.himage {
    height: 100% !important;
    object-fit: cover !important;
    padding: 50px;
    width: 100% !important
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0
}

.services-container {
    flex-basis: 33.333%
}

.services-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: .5s ease;
    width: 350px
}

a {
    text-decoration: none
}

.services-card:hover {
    background-color: #b0d0e5;
    box-shadow: 0 0 11px #21212133;
    transform: translateY(-20px)
}

.services-card img {
    color: #99b8cc;
    height: 150px;
    margin-bottom: 20px;
    width: 150px
}

.services-card h2 {
    font-size: 24px;
    margin-bottom: 10px
}

.services-card p {
    color: #666;
    font-size: 15px;
    line-height: 1.5
}

.services-card:hover .services-card p {
    color: #fff;
    font-size: 15px;
    line-height: 1.5
}

.service-container {
    align-items: center;
    background: #c9d6ff;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.service-img img {
    border-radius: 20px;
    height: 70%;
    margin: 50px;
    width: 70%
}

.service-container.even .service-content {
    display: flex;
    flex-direction: row
}

.service-container.odd .service-content {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 50px
}

.service-img {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%
}

.service-text {
    margin-left: 50px;
    margin-top: 60px;
    width: 50%
}

.serve-student-heading {
    line-height: 40px
}

.serve-student-para {
    color: #64647a;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.serve-student-heading2 {
    font-size: 18px;
    line-height: 41px
}

.custom-list {
    list-style-type: none;
    padding-left: 0
}

.custom-list li {
    margin: 10px 0;
    padding-left: 30px;
    position: relative
}

.custom-list li:before {
    /* background-image: url(/static/media/star.598983980616c17851b2.png); */
    background-position: 50%;
    background-size: cover;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px
}

@media only screen and (max-width:767px) {
    .service-container.even .service-content,
    .service-container.odd .service-content {
        display: flex;
        flex-direction: column
    }
    .service-content {
        margin: auto
    }
    .service-img,
    .service-text {
        width: 100%
    }
    .service-img {
        margin-bottom: 20px;
        order: -1
    }
}

.serviceCards {
    display: flex;
    flex-basis: 33.33%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 90px
}

.main-service {
    background-color: #fff
}

.section-heading {
    padding-top: 5rem;
    text-align: center
}

.section-para {
    font-style: italic;
    text-align: center
}

@media screen and (max-width:768px) {
    .serviceCards {
        align-items: center;
        flex-direction: column
    }
}

.about-us {
    margin: auto;
    padding: 60px 0;
    width: 80%
}

.about-col img {
    width: 100%
}

.red-btn {
    background: #0000;
    border: 1px solid #f44336;
    color: #f44336
}

.red-btn:hover {
    color: #fff
}

.hero-btn {
    background: #0000;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 12px 34px;
    position: relative;
    text-decoration: none
}

.hero-btn:hover {
    background: #f44336;
    border: 1px solid #f44336;
    transition: 1s
}

.h1-header {
    text-align: center
}

.App,
.footer {
    display: flex
}

.footer {
    background-color: #1b1b1b;
    color: #fff;
    flex-wrap: wrap;
    font-family: calibri;
    font-size: 16px;
    justify-content: space-around;
    padding: 80px
}

.footer .column a {
    align-items: center;
    display: flex;
    text-decoration: none
}

.footer .column a img {
    margin: 2px
}

.footer .column a span {
    margin-left: 10px
}

.column {
    flex: 1 1;
    margin: 10px
}

.column h3 {
    color: #f1c40f;
    font-size: 1.2rem;
    margin-bottom: 10px
}

.column p,
.column ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.column a {
    text-decoration: none;
    transition: color .3s ease
}

.column a:hover {
    color: var(--color-background)
}

@media (max-width:768px) {
    .footer {
        flex-direction: column;
        text-align: center
    }
    .column {
        flex: 0 1 auto
    }
}

.column img {
    background-color: #fff;
    height: 100px;
    margin: 10px;
    padding: 5px 30px;
    width: inherit
}

.column a {
    -webkit-text-fill-color: #0000;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #fcfcfc, #fcfcfc 50%, #000 0);
    background-position: -100%;
    color: #fff;
    display: inline-block;
    padding: 5px 0;
    position: relative
}

.column a,
.column a:before {
    transition: all .3s ease-in-out
}

.column a:before {
    background: #fcfcfc;
    bottom: -3px;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 0
}

.column a:hover {
    background-position: 0
}

.column a:hover:before {
    width: 40%
}

.contact-body {
    background-color: #f5f5f5;
    background-image: linear-gradient(0deg, #00000080, #00000080), url("/static/media/pexels-emily-ranquist-1205651%20(1).af6b603e483daeda4f2f.jpg");
    background-position: 50%;
    background-size: cover;
    font-family: Ubuntu, sans-serif;
    margin: 0;
    padding: 50px 0;
    position: relative
}

.contact-frm {
    background-color: #fff3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    margin: 40px auto;
    max-width: 600px;
    padding: 20px
}

.form-group {
    margin-bottom: 20px
}

.form-label {
    color: #333;
    display: block;
    font-weight: 700;
    margin-bottom: 8px
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%
}

.contact-form {
    color: #6d6e6f
}

.form-control:focus {
    border-color: #353535;
    box-shadow: 2px 2px 5px #18181880
}

.submit-button {
    background-color: #6d6e6f;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50%;
    padding: 10px 20px;
    transform: translateX(-50%)
}

.submit-button:hover {
    background-color: #342f2f
}

@media (max-width:320px) {
    .submit-button {
        margin-left: 50%;
        transform: translateX(-50%)
    }
}

.hero-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1
}

.hero-img {
    height: 100% !important;
    object-fit: cover !important;
    width: 100% !important
}

.hero-text {
    align-items: center;
    background-color: #000000b3;
    color: var(--color-white);
    display: flex;
    height: 70vh;
    justify-content: center;
    width: 100%
}

.text-container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    width: 80%
}

.hero-title {
    font-size: 4rem
}

.hero-subtitle,
.hero-title {
    color: var(--color-background)
}

.hero-subtitle {
    font-size: 2.5rem;
    margin: 0
}

.explore-btn {
    background-color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 2px;
    color: var(--color-background);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem;
    padding: .6rem 2.1rem;
    transition: all .3s ease-in-out
}

.explore-btn:hover {
    background-color: var(--color-background);
    border: 2px solid var(--color-background);
    color: var(--color-primary)
}

.hero-description {
    color: var(--color-background);
    font-size: 1.2rem
}

@media (max-width:768px) {
    .hero-image,
    .hero-text {
        height: 60vh
    }
    .hero-title {
        font-size: 2rem
    }
    .hero-subtitle {
        font-size: 1.4rem
    }
    .explore-btn,
    .hero-description {
        font-size: 1rem
    }
}
